* {
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    width: 100%;
    padding: 15px 0;
    background-color: #00B7CE;
    color: white;
}

header .headline {
    line-height: 100px;
    float: left;
    font-size: 30px;
    margin-left: 100px;
}

.nav-list {
    line-height: 100px;
    float: left;
    margin-left: 30px;
    list-style: none;
}

.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.Github {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 100%;
    display: inline-block;
}

.Twitter {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 100%;
    display: inline-block;
}


footer {
    width: 100%;
    height: 120px;
    text-align: center;
    padding: 50px 0;
    background-color: #4e4e4e;
}

.footer-text {
    color: #fff;
}



.hover {
    border: 1px solid #ddd;
    width: auto;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}

.hover img {
    width: 100%;
    transition-duration: 0.5s;
}

.hover:hover img {
    transform: scale(1.2);
    transition-duration: 0.5s;
}