img {
    max-width: 100%;
    height: auto;
    width: auto;
}

footer {
    position: absolute;
    bottom: 0;
}
/*
.wrap-content {
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
    box-sizing: border-box;
}
*/

.container {
    display: flex;
    flex-wrap: no-wrap;
    max-width: 100%;
    height: auto;
    width: auto;
}
